@model mn_you.Models.SQLite.Vendor
@{
    ViewData["Title"] = "Register";
}

<h1 class="vendorsClass">
    Vendor Registration
</h1>
<p class="vendorsClass">
    Please enter your Vendor Name, Email, and create a password before submiting to Register your Vender.
</p>

@using (@Html.BeginForm()) {

    if (ViewBag.method == "POST") {
        @Html.ValidationSummary()
    }

    <div>
        Name: @Html.EditorFor(v => v.Name, new { @class = "inputfield" })
    </div>
    <br />
    <div>
        Email: @Html.EditorFor(v => v.Email, new { @class = "inputfield" })
    </div>
    <br />
    <div>
        Password: @Html.EditorFor(v => v.Password, new { @class = "inputfield" })
    </div>
    <br />
    <div>
        <button type='submit'>Submit</button>
    </div>
}
