@model mn_you.Models.SQLite.Vendor
@{
    ViewData["Title"] = "Register";
}

<h1 class="vendorsClass">
    Vendor Registration
</h1>
<p class="vendorsClass">
    Please enter your vendor name, email, and create a password before submiting to register your vendor.
</p>

@using (@Html.BeginForm()) {

    if (ViewBag.method == "POST") {
        @Html.ValidationSummary()
    }
    <body class="vendor-content">
        <div class="container">
            <div class="vendorsClass">
                <label> Vendor Name: <br />
                @Html.EditorFor(v => v.Name, new { @class = "inputfield" })
                </label>
            </div>
            <br />
            <div class="vendorsClass">
                <label> User Email: <br />
                @Html.EditorFor(v => v.Email, new { @class = "inputfield" })
                </label>
            </div>
            <br />
            <div class="vendorsClass">
                <label> Create Password:<br />
                @Html.EditorFor(v => v.Password, new { @class = "inputfield" })
                <label>
            </div>
            <br />
            <div class="vendorsClass">
                <button type='submit'>Submit</button>
            </div>
        </div>
    </body>
}
