@model List<mn_you.Models.SQLite.Vendor>

<h1>Vendors</h1>

@foreach (var vendor in Model) {
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">@vendor.Name</h3>
    </div>
    <div class="panel-body row">
      <div class="col-sm-8">
        <p>@vendor.Bio</p>
        <p><a asp-controller="Vendors" asp-action="Details" asp-route-id="@vendor.Slug">view details</a></p>
      </div>
      <div class="col-sm-4">
        @vendor.Address<br />
        @vendor.City, @vendor.State @vendor.Zip
      </div>
    </div>
  </div>
}
